@import "tailwindcss";

:root {
  --background: #121316;
  --foreground: #fafafa;
  --card: #0a0a0b;
  --card-foreground: #fafafa;
  --primary: #fafafa;
  --primary-foreground: #1a1a1b;
  --secondary: #1e293b;
  --secondary-foreground: #fafafa;
  --muted: #1e293b;
  --muted-foreground: #94a3b8;
  --accent: #1e293b;
  --accent-foreground: #fafafa;
  --border: #1e293b;
  --input: #1e293b;
  --ring: #cbd5e1;
}

body {
  background-color: #0F0F10;
}
